@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Lora:wght@400;500&family=Poppins:wght@400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Lora',serif;

background:#f6e8d4;

overflow-x:hidden;

color:#2d1b12;

}

:root{

--brown:#4b2e1f;

--dark:#2d1b12;

--gold:#b58a4d;

--paper:#f8efe3;

--cream:#fffaf3;

}